@using FamilyTree.Models;
@model Person

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Family Tree</h2>
        <br />

        @using (Html.BeginForm("PersonOne", "Index", FormMethod.Post, new { @class = "col-xs-6 person-form" }))
        {
            @Html.LabelFor(m => m.FirstName, "First name: ")
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.LabelFor(m => m.LastName, "Last name: ")
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.LabelFor(m => m.BirthDate, "Birth date: ")
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
            <br />
            @Html.CheckBoxFor(m => m.IsAlive, new { @class = "checkbox-circle" })
            @Html.LabelFor(m => m.IsAlive, "This person is living ")
            <br />
            <br />
            @Html.LabelFor(m => m.DeathDate, "Death date: ")
            @Html.TextBoxFor(m => m.DeathDate, new { @class = "form-control" })
            <br />
            <div class="form-group choose-gender">
                @Html.Label("Gender: ")
                <br />
                @Html.LabelFor(m => m.Gender, "Male")
                @Html.RadioButtonFor(m => m.Gender, "M", new { @class = "radio" })
                @Html.LabelFor(m => m.Gender, "Female")
                @Html.RadioButtonFor(m => m.Gender, "F", new { @class = "radio" })
            </div>
            <br />
        }
    </div>
</div>